* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Verdana, sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    background-color: #1F2937;
    color: #F9FAF8;
}

.top-header {
    padding: 10px;
    display: flex;
    align-items: center;
}

.logo {
    font-size: 24px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 25px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.body {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

button {
    padding: 5px;
    border-radius: 8px;
    background-color: #3882F6;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}